@font-face {
  font-family: 'ramayana 3.76';
  src: url('ramayana 3.76.eot');
  src: url('ramayana 3.76.woff2') format('woff2'),
       url('ramayana 3.76.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ramayana';
  src: url('ramayana.woff') format('woff'),
       url('ramayana.ttf') format('truetype'),
       url('ramayana.svg#ramayana') format('svg');
  font-weight: normal;
  font-style: normal;
}

